html {
    font: 20px/1.5 Helvetica, sans-serif;
}

body {
    padding: 2em;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.2em;

    max-width: 15vw;
    height: 23rem;
}

span {
    border: 1px solid black;
    flex-grow: 0;
    padding: 0.5em;
    text-align: center;
}

.S{order: 1}
.e{order: 2}
.m{order: 3}
.a{order: 4}
.n{order: 5}
.t{order: 6}
.i{order: 7}
.c{order: 8}
.H{order: 9}
.T{order: 10}
.M{order: 11}
.L{order: 12}

/* for test */
/* span:nth-child(3) { border: 2px solid red;} */